Repository Deepractice/ProjectOctober: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm lint

Include Docker command in README
  README.md
Due: format

Update README.md
  README.md
Due: format

fix: typecheck error in messageStore
  README.md
  apps/agent-ui/src/stores/messageStore.ts
Due: format, lint

docs: add comprehensive README for Deepractice Agent
  README.md
Due: format

fix: correct GitHub repository URLs to Deepractice/Agent
  README.md
Due: format

docs: remove License and Community sections from README
  README.md
Due: format

docs: update Deepractice link to GitHub organization
  README.md
Due: format

chore: remove unused public assets from agent-ui library
  packages/agent-ui/index.html
  packages/agent-ui/public/clear-cache.html
  packages/agent-ui/public/convert-icons.md
  packages/agent-ui/public/favicon.png
  packages/agent-ui/public/favicon.svg
  packages/agent-ui/public/generate-icons.js
  packages/agent-ui/public/icons/generate-icons.md
  packages/agent-ui/public/icons/icon-128x128.png
  packages/agent-ui/public/icons/icon-128x128.svg
  packages/agent-ui/public/icons/icon-144x144.png
  packages/agent-ui/public/icons/icon-144x144.svg
  packages/agent-ui/public/icons/icon-152x152.png
  packages/agent-ui/public/icons/icon-152x152.svg
  packages/agent-ui/public/icons/icon-192x192.png
  packages/agent-ui/public/icons/icon-192x192.svg
  packages/agent-ui/public/icons/icon-384x384.png
  packages/agent-ui/public/icons/icon-384x384.svg
  packages/agent-ui/public/icons/icon-512x512.png
  packages/agent-ui/public/icons/icon-512x512.svg
  packages/agent-ui/public/icons/icon-72x72.png
  packages/agent-ui/public/icons/icon-72x72.svg
  packages/agent-ui/public/icons/icon-96x96.png
  packages/agent-ui/public/icons/icon-96x96.svg
  packages/agent-ui/public/icons/icon-template.svg
  packages/agent-ui/public/logo.svg
  packages/agent-ui/public/manifest.json
  packages/agent-ui/public/screenshots/cli-selection.png
  packages/agent-ui/public/screenshots/desktop-main.png
  packages/agent-ui/public/screenshots/mobile-chat.png
  packages/agent-ui/public/screenshots/tools-modal.png
  packages/agent-ui/public/sw.js
Due: format, lint

refactor: standardize npm scripts and dev workflow
  apps/agent-web/package.json
  package.json
  turbo.json
Due: format

docs: add comprehensive npm scripts command reference
  docs/commands.md
Due: format

feat: add agent-config package for unified configuration management
  CLAUDE.md
  packages/agent-config/.eslintignore
  packages/agent-config/README.md
  packages/agent-config/package.json
  packages/agent-config/src/api/getConfig.ts
  packages/agent-config/src/api/index.ts
  packages/agent-config/src/api/updateConfig.ts
  packages/agent-config/src/api/validateConfig.ts
  packages/agent-config/src/core/ConfigManager.ts
  packages/agent-config/src/core/loaders/DBLoader.ts
  packages/agent-config/src/core/loaders/EnvLoader.ts
  packages/agent-config/src/core/loaders/Loader.ts
  packages/agent-config/src/core/loaders/UILoader.ts
  packages/agent-config/src/core/loaders/index.ts
  packages/agent-config/src/core/persisters/DBPersister.ts
  packages/agent-config/src/core/persisters/FilePersister.ts
  packages/agent-config/src/core/persisters/Persister.ts
  packages/agent-config/src/core/persisters/index.ts
  packages/agent-config/src/core/schemas/base.ts
  packages/agent-config/src/core/schemas/development.ts
  packages/agent-config/src/core/schemas/index.ts
  packages/agent-config/src/core/schemas/runtime.ts
  packages/agent-config/src/index.ts
  packages/agent-config/src/types/Config.ts
  packages/agent-config/src/types/ConfigSource.ts
  packages/agent-config/src/types/index.ts
  packages/agent-config/tsconfig.build.json
  packages/agent-config/tsconfig.json
  pnpm-lock.yaml
  services/agent-service/package.json
  services/agent-service/src/agent-sdk.js
  services/agent-service/src/app.js
  services/agent-service/src/config/index.js
  services/agent-service/src/index.js
  services/agent-service/src/projects.js
  tsconfig.json
  turbo.json
Due: format, lint

docs: add comprehensive configuration guide
  docs/configuration.md
Due: format

test: add comprehensive test coverage for agent-config package
  docs/testing-strategy.md
  packages/agent-config/features/api/get-config.feature
  packages/agent-config/features/api/update-config.feature
  packages/agent-config/features/api/validate-config.feature
  packages/agent-config/package.json
  packages/agent-config/src/core/ConfigManager.test.ts
  packages/agent-config/tests/README.md
  packages/agent-config/tests/e2e/steps/common.steps.ts
  packages/agent-config/tests/e2e/steps/get-config.steps.ts
  packages/agent-config/tests/e2e/steps/update-config.steps.ts
  packages/agent-config/tests/e2e/steps/validate-config.steps.ts
  packages/agent-config/tests/e2e/support/hooks.ts
  packages/agent-config/tests/e2e/support/world.ts
  packages/agent-config/vitest.config.ts
  pnpm-lock.yaml
Due: format, lint

fix: improve configuration loading and add hot reload support
  docs/logging-guide.md
  packages/agent-ui/src/components/ChatInterface/index.tsx
  pnpm-lock.yaml
  services/agent-service/nodemon.json
  services/agent-service/package.json
  services/agent-service/src/agent-sdk.js
  services/agent-service/src/app.js
  services/agent-service/src/config/env.js
  services/agent-service/src/config/index.js
  services/agent-service/src/index.js
  services/agent-service/src/projects.js
  turbo.json
Due: format, lint

feat: add HeaderNav component with tab switching
  apps/agent-web/src/App.tsx
  apps/agent-web/src/components/HeaderNav.tsx
Due: format, lint

fix: correct layout structure - sidebar left full height, HeaderNav top-right
  apps/agent-web/src/App.tsx
Due: format, lint

feat: integrate agent status with EventBus architecture
  apps/agent-web/docs/ARCHITECTURE.md
  apps/agent-web/docs/MIGRATION_PLAN.md
  apps/agent-web/src/components/ChatInterface.tsx
  apps/agent-web/src/core/events.ts
  apps/agent-web/src/core/websocketAdapter.ts
  apps/agent-web/src/stores/uiStore.ts
Due: format, lint

fix: handle HistoricalSession deletion properly
  apps/agent-web/src/components/ChatInterface.tsx
  packages/agent-sdk/src/core/session-manager.ts
Due: format, lint

fix: load messages on first session selection
  apps/agent-web/src/components/ChatInterface.tsx
Due: format, lint

fix: preserve user messages across session switches
  apps/agent-web/docs/ARCHITECTURE.md
  apps/agent-web/package.json
  apps/agent-web/src/App.tsx
  apps/agent-web/src/api/agent.ts
  apps/agent-web/src/components/ChatInterface.tsx
  apps/agent-web/src/components/MessagesArea/index.tsx
  apps/agent-web/src/components/Sidebar/SessionItem.tsx
  apps/agent-web/src/components/Sidebar/index.tsx
  apps/agent-web/src/components/ui/popover.tsx
  apps/agent-web/src/core/events.ts
  apps/agent-web/src/core/websocketAdapter.ts
  apps/agent-web/src/stores/messageStore.ts
  apps/agent-web/src/stores/sessionStore.ts
  apps/agent-web/src/types/chat.ts
  package.json
  packages/agent-sdk/src/core/claude-adapter.ts
  packages/agent-sdk/src/core/claude-agent.ts
  packages/agent-sdk/src/core/claude-session.ts
  packages/agent-sdk/src/core/session-manager.ts
  packages/agent-sdk/src/core/warmup-pool.ts
  packages/agent-sdk/src/types/config.ts
  packages/agent-ui/package.json
  pnpm-lock.yaml
  services/agent-service/src/agent.js
  services/agent-service/src/routes/sessions.js
  services/agent-service/src/websocket/chat.js
Due: format, lint

wip: save current UI rewrite progress before port refactor
  apps/agent-web/src/App.tsx
  apps/agent-web/src/components/ChatInterface.tsx
  apps/agent-web/src/components/MessageRenderer/MessageHeader.tsx
  apps/agent-web/src/components/MessageRenderer/UserMessage.tsx
  apps/agent-web/src/components/MessagesArea/index.tsx
  apps/agent-web/src/core/websocketAdapter.ts
  apps/agent-web/src/stores/sessionStore.ts
  docker/agent/Dockerfile
  docker/agent/README.md
  docker/agent/build.sh
  packages/agent-sdk/src/core/claude-session.ts
  services/agent-service/src/websocket/chat.js
Due: format, lint

refactor: unify port design to 5200 for agent-service
  .env.example
  ARCHITECTURE.md
  CLAUDE.md
  apps/agent-web/vite.config.js
  docker/agent/README.md
  docs/ARCHITECTURE.md
  docs/port-allocation.md
  packages/agent-config/src/core/schemas/base.ts
  services/agent-service/src/index.js
Due: format, lint

fix: allow lefthook prepare to fail in non-git environments
  package.json
Due: format

fix: add root tsconfig.json to Docker build context
  docker/agent/Dockerfile
Due: none

fix: copy config files for frontend build in Docker
  docker/agent/Dockerfile
Due: none

fix: add tailwindcss and autoprefixer to agent-web dependencies
  apps/agent-web/package.json
  pnpm-lock.yaml
Due: format

fix: add @tailwindcss/typography dependency to agent-web
  apps/agent-web/package.json
  pnpm-lock.yaml
Due: format

perf: remove --prod flag to speed up Docker build
  docker/agent/Dockerfile
Due: none

temp commit
  .env.docker
  docker/agent/Dockerfile
  packages/agent-sdk/src/core/claude-adapter.ts
Due: format, lint

fix: resolve Docker container Claude SDK spawn issues
  .env.docker
  docker/agent/Dockerfile
  packages/agent-sdk/src/core/claude-adapter.ts
Due: format, lint

feat: simplify dev workflow to single entry point
  docs/commands.md
  package.json
  services/agent-service/src/app.js
Due: format, lint

fix: resolve dev environment issues for unified 5200 port experience
  apps/agent-web/public/sw.js
  packages/agent-sdk/src/core/claude-adapter.ts
  services/agent-service/nodemon.json
  services/agent-service/package.json
  services/agent-service/src/index.js
Due: format, lint

fix: resolve CI issues and improve workflow structure
  .github/workflows/ci.yml
  .github/workflows/test.yml
  apps/agent-web/package.json
  apps/agent-web/src/components/AgentStatus.tsx
  apps/agent-web/src/components/AgentStatusBar.tsx
  apps/agent-web/src/components/CommandMenu.tsx
  apps/agent-web/src/components/HeaderNav.tsx
  apps/agent-web/src/components/ImageAttachment.tsx
  apps/agent-web/src/components/MessageRenderer/index.tsx
  apps/agent-web/src/components/MicButton.tsx
  apps/agent-web/src/index.css
  docs/ARCHITECTURE.md
  docs/commands.md
  packages/agent-sdk/src/core/claude-session.ts
  services/agent-service/src/routes/commands.js
  services/agent-service/src/routes/mcp.js
  services/agent-service/src/routes/project.js
Due: format, lint

Path conditions:
  format: any of: *.{ts,js,cjs,mjs,jsx,tsx,json,md,yml,yaml}
  lint: any of: *.{ts,js,cjs,mjs,jsx,tsx}
